.user-form {
  margin: 12px auto;
  background-color: #ad40e0;
  max-width: 400px;
}

.user-form__control {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}
.user-form__label {
  color: white;
  margin-bottom: 4px;
}
.user-form__input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  display: block;
  box-sizing: border-box;
  padding: 3px 5px;
}
