.expense-filter {
  display: flex;
  justify-content: space-between;
  background: #ff8a8a5c;
  padding: 2rem;
  border-radius: 12px;
  align-items: center;
}

.expense-filter label {
  font-weight: bold;
}
.expense-filter select {
  padding: 8px 12px;
  border-radius: 8px;
  outline: none;
}
.expense-filter option {
  border-radius: 8px;
  margin-top: 1rem;
}
