.sidebar-container {
  width: 200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
  border-radius: 5px;
}

.sidebar-container.dark {
  background-color: black;
  color: white;
}
